<!DOCTYPE html>
<html lang="en"> 
  <head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
   <title>user 1</title>
  </head>
  <body>
    <h1 class = "pb-5 text-2xl">USERS</h1>
    <div class = "flex gap-x-2.5">
      <img src ="<%= @user.photo %>" width="50" height="50">
      <h2 class = "text-xl"> <%= @user.name %> </h2>
    </div>
    Number of posts: <%= @user.posts_counter%>

    <h1>Bio </h1>
    <p class = "pb-5"><%= @user.bio %></p>
    <% @user.recent_posts.includes(:author).each do |post| %> 
      <%= link_to user_post_path(@user.id, post.id) do %>
      <h4 class = "text-lg font-semibold"><%= post.title %> </h4>
      <% end %>
      <p><%= post.text.truncate(100) %>...</p>
      <p class = "text-sm">comments: <%= post.comments_counter%></p>
      <p class = "pb-5 text-sm">likes: <% post.likes_counter%></p>

      <p>author: <%= post.author.name %></p>
    <% end %>
    <div class = "pt-5">
      <%= link_to user_posts_path(@user.id) do %>
      <button class = "border border-black rounded px-0.5 py-0.5">See all posts</button>
        <% end %>
    </div>
  </body>
</html>

