      <div class = "pb-5">
        <img src ="<%= @user.photo %>" alt="user_photo" width="50" height="50">
        <h2 class = "text-2xl"> <%= @user.name %> </h2>
            Number of posts: <%= @user.posts_counter %>
      </div>
      <% if @posts.blank? %>
        <p>There are no posts</p>
      <% else %>

        <% @posts.each do |post| %>
          <%= link_to user_post_path(@user.id, post.id) do %>
          <h3 class = "text-xl pt-5 font-semibold" ><%= post.title %></h3>
          <% end %>
          <p><%= post.text.truncate(50) %>...</p>
          comments: <%= post.comments_counter %>
          likes: <%= post.likes_counter %>
          <% post.recent_comments.each do |comment| %>
            <p><% comment.author.name%> <%= comment.text %></p>
          <% end %>   
        <% end %>
    <% end %>

