  <% flash.each do |type, msg| %>
    <div>
      <p style = "color: green"><%= msg %></p>
    </div>
  <% end %>
  <div>
      <h1 class = "pb-5">Post 1 by:<%= @user.name %></h1>
      <p class = "text-sm">comments: <%= @post.comments_counter %></p>
      <p class = "pb-5 text-sm">likes: <%= @post.likes_counter %></p>
    </div>
    <h2 class = "pb-5 font-semibold"><%= @post.title %></h2>
    <p class ="pb-5" ><%= @post.text%></p>
  <hr />
    <% @post.comments.each do |comment| %>
      <% if can?(:destroy, comment) %>
          <%= button_to user_post_comment_path(@user.id, @post.id,comment.id), method: :delete do %>
            <p class = "pb-5">
              <button class = "bg-red-600	mt-3 hover:bg-red-700 text-white rounded">delete</button>
              <%= comment.author.name%>: <%=comment.text %>
            </p>
          <% end %>
      <% else %>
      <p class="pb-5">
        <%= comment.author.name%>: <%=comment.text %>
      </p>
      <% end %>
    <% end %>

    <h4>Add comment</h4>
      <%= render partial: 'shared/coments_form' %>


    <%= form_with url: user_post_likes_path(@user, @post) do |form| %>
      <div class = "pt-5">
        <%= form.submit "Like", class: "border border-black rounded px-0.5 py-0.5" %>
      </div>
    <% end %>
          <% if can?(:destroy, @post) %>
            <%= button_to  user_post_path(@user.id, @post.id), method: :delete do %>
              <button class="bg-red-600	mt-3 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Delete
              </button>
            <% end %>
          <% end %>
