<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/bcd4b0f4a4.js"
      crossorigin="anonymous"
    ></script>

    <title>user 1</title>
  </head>

  <body>
  <% flash.each do |type, msg| %>
    <div>
      <p style = "color: green;"><%= msg %></p>
    </div>
  <% end %>
  <div>
      <h1 class = "pb-5">Post 1 by:<%= @user.name %></h1>
      <p class = "text-sm">comments: <%= @post.comments_counter %></p>
      <p class = "pb-5 text-sm">likes: <%= @post.likes_counter %></p>
    </div>
    <h2 class = "pb-5 font-semibold"><%= @post.title %></h2>
    <p class ="pb-5" ><%= @post.text%></p>
    <% @post.comments.each do |comment|%>
      <p class = "pb-5"><% comment.author.name%> <%=comment.text %></p>
    <% end %>

    <h4>Add comment</h4>
      <%= render partial: 'comments/coments_form' %>


    <%= form_with url: user_post_likes_path(@user, @post) do |form| %>
      <div class = "pt-5">
        <%= form.submit "Like", class: "border border-black rounded px-0.5 py-0.5" %>
      </div>
    <% end %>
  </body>
</html>

